dataset_search/n8n workflow/Dataset Search 2.json
{
  "name": "Dataset Search 2",
  "nodes": [
    {
      "parameters": {
        "fieldToSplitOut": "combinedData",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -144,
        752
      ],
      "id": "55c5f431-87b8-49ab-8b8d-0fc676698323",
      "name": "Split Out"
    },
    {
      "parameters": {
        "batchSize": "=1",
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        512,
        752
      ],
      "id": "4f5727ff-5058-4428-a21f-bab236d05c25",
      "name": "Loop Over Items",
      "alwaysOutputData": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://n8n.fallowearth.site/webhook/is-analysis-cancelled",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "executionId",
              "value": "={{ $('Get Initial Params').item.json.executionId }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        768,
        768
      ],
      "id": "4c81832a-6a7f-4895-a7e9-e04a65a4a24d",
      "name": "HTTP Request1",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "943c147e-945c-4555-84a1-c3e8eea65b16",
              "leftValue": "={{ $json.isCancelled }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        944,
        768
      ],
      "id": "a7aeb390-b8af-4950-9387-a09c72af2e28",
      "name": "If"
    },
    {
      "parameters": {
        "errorMessage": "Search have been cancelled"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        1184,
        576
      ],
      "id": "fe7d4a2b-bc81-4950-bef5-ffc0fba84deb",
      "name": "Stop and Error"
    },
    {
      "parameters": {
        "jsCode": "// 动态处理输入数据的n8n Code节点代码\ntry {\n  // 获取输入字符串\n  const inputStr = $input.first().json.answer;\n  \n  // 将提供的字符串转换为JSON对象\n  let jsonData;\n  \n  if (typeof inputStr === 'string') {\n    // 1. 移除外层多余的引号\n    let cleanedStr = inputStr;\n    if (cleanedStr.startsWith('\"') && cleanedStr.endsWith('\"')) {\n      cleanedStr = cleanedStr.slice(1, -1);\n    }\n    \n    // 2. 处理转义字符\n    cleanedStr = cleanedStr\n      .replace(/\\\\\"/g, '\"')     // 替换 \\\" 为 \"\n      .replace(/\\\\n\\s*/g, '')   // 移除所有 \\n 及其后面的空格\n      .replace(/\\\\\\\\/g, '\\\\')   // 替换 \\\\ 为 \\\n      .replace(/\\\\t/g, '');     // 移除所有 \\t\n    \n    // 3. 尝试解析为JSON\n    try {\n      jsonData = JSON.parse(cleanedStr);\n    } catch (e) {\n      throw new Error(`无法解析JSON字符串: ${e.message}`);\n    }\n  } else if (typeof inputStr === 'object' && inputStr !== null) {\n    // 如果已经是对象，直接使用\n    jsonData = inputStr;\n  } else {\n    throw new Error(`无效的输入类型: ${typeof inputStr}`);\n  }\n  \n  // 确保jsonData为数组\n  const jsonArray = Array.isArray(jsonData) ? jsonData : [jsonData];\n  \n  // 提取所有source的url\n  const sourceUrls = [];\n  \n  // 检查输入中是否有sources字段，并提取所有url\n  if ($input.first().json.sources && Array.isArray($input.first().json.sources)) {\n    $input.first().json.sources.forEach(source => {\n      if (source.url) {\n        sourceUrls.push(source.url);\n      }\n    });\n  }\n  \n  // 创建结果\n  return [{\n    json: {\n      // 返回JSON对象数组\n      items: jsonArray,\n      // 返回提取的URL数组\n      urls: sourceUrls,\n      success: true\n    }\n  }];\n} catch (error) {\n  // 错误处理\n  return [{\n    json: {\n      error: error.message,\n      success: false\n    }\n  }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1504,
        768
      ],
      "id": "bd9ae49e-2126-4d36-ab7f-b375756853dc",
      "name": "清理answer和url格式1"
    },
    {
      "parameters": {
        "jsCode": "// 提取字段值\nconst riskItem = $input.first().json.items[0].risk_item;\nconst relationshipType = $input.first().json.items[0].relationship_type;\nconst findingSummary = $input.first().json.items[0].finding_summary;\nconst sourceUrls = $input.first().json.urls || [];\nconst totalItems = $('Code').first().json.totalItems\n\n// 创建基本输出字符串，使用\\\\n作为换行符\nlet formattedOutput = `Risk Item: ${riskItem}\\\\nRelationship Type: ${relationshipType}\\\\nFinding Summary: ${findingSummary}`;\n\n// 创建一个单独的URL字符串\nlet urlsString = '';\nif (sourceUrls.length > 0) {\n  sourceUrls.forEach((url, index) => {\n    urlsString += `${index + 1}. ${url}\\\\n`;\n  });\n  // 移除最后一个换行符\n  if (urlsString.endsWith('\\\\n')) {\n    urlsString = urlsString.slice(0, -2);\n  }\n}\n\n// 返回格式化后的结果，包含result和单独的urls数组\nreturn [{\n  json: {\n    result: formattedOutput,\n    urls: urlsString,  // 将sourceUrls作为单独的字段输出\n    totalItems : totalItems\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1680,
        768
      ],
      "id": "cd9957f9-efbe-4608-9c29-395b3b8e3037",
      "name": "清理answer和url格式2",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0c8ea13f-4e54-4489-a19d-d6006073bf2f",
              "name": "institutionAFromQuery",
              "value": "={{ $json.institution_name }}",
              "type": "string"
            },
            {
              "id": "87caec76-76ec-4822-a73d-6704522499af",
              "name": "executionId",
              "value": "={{ $json.executionId }}",
              "type": "string"
            },
            {
              "id": "305d224a-e4ac-4da3-84f6-e167f87974fc",
              "name": "timeperiod",
              "value": "={{ $json.date }}",
              "type": "string"
            },
            {
              "id": "d611c5b5-3acf-4eb9-a5e7-742c071f8437",
              "name": "keywords",
              "value": "={{ $json.keywords }}",
              "type": "string"
            },
            {
              "id": "d40e90e6-8322-4432-a476-bcd81b2b76c0",
              "name": "user_id",
              "value": "={{ $json.user_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -16,
        400
      ],
      "id": "30699cdd-488c-41dd-a128-ab29e36a88b5",
      "name": "Get Initial Params"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "institution_name"
            },
            {
              "name": "executionId"
            },
            {
              "name": "date"
            },
            {
              "name": "keywords"
            },
            {
              "name": "user_id"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -224,
        400
      ],
      "id": "681e541d-32f1-4950-b3e0-3a5162edca42",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "url": "http://raw.githubusercontent.com/BlearKK/list_storage/refs/heads/main/Named%20Research%20Organizations.json",
        "options": {
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        352,
        400
      ],
      "id": "ccf37c1a-806b-42de-ab3c-2159f2a8f98c",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "// 假设上一个HTTP Request节点的输出中，文件内容的字符串存在于 $json.data\nconst jsonStringFromFile = $json.data;\nconst keywordslist = $('Code1').first().json.data;\n\ntry {\n  // 清理尾随逗号 - 匹配 }, 后面跟着可能的空白字符和 ] 或 }\n  const cleanedJsonString = jsonStringFromFile\n    .replace(/,(\\s*[\\]}])/g, '$1'); // 移除 }, ] 或 }, } 中的逗号\n  \n  // 使用 JSON.parse() 将清理后的字符串转换为一个真正的JavaScript数组\n  const parsedRiskList = JSON.parse(cleanedJsonString);\n  \n  // 合并 keywordslist 和 parsedRiskList\n  const combinedList = [...keywordslist, ...parsedRiskList];\n  \n  // 统计 combinedList 中 Name 的数量\n  const nameCount = combinedList.filter(item => \n    item && item.Name && item.Name.trim() !== ''\n  ).length;\n  \n  // Code节点的输出应该是一个包含n8n item的数组。\n  return [{\n    json: {\n      combinedData: combinedList,\n      nameCount: nameCount,\n      totalItems: combinedList.length\n    }\n  }];\n} catch (error) {\n  // 如果JSON字符串格式有问题，解析会失败，并在这里捕获错误。\n  console.error(\"无法解析从GitHub文件获取的JSON字符串:\", error.message);\n  console.error(\"原始数据:\", jsonStringFromFile); // 添加这行来调试\n  // 最好将错误抛出，这样工作流会停止，并且您可以在n8n界面看到错误详情。\n  throw error;\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        544,
        400
      ],
      "id": "3d283f8c-0b9d-4afe-9b5b-0b958584c22f",
      "name": "Code"
    },
    {
      "parameters": {
        "jsCode": "// Code here will run only once, no matter how many input items there are.\n// More info and help: https://docs.n8n.io/nodes/n8n-nodes-base.function\n// Tip: You can use luxon for dates and $jmespath for querying JSON structures\n// 假设 $input.first().json.keywords 包含你要处理的字符串\nconst keywords = $input.first().json.keywords;\nlet keywordsList;\ntry { // Line 8 (counting from the start of this script block)\n  // 首先检查 keywords 是否是一个有效的 JSON 数组字符串\n  // 如果它本身就是 '[\"item1\", \"item2\"]' 这种形式，JSON.parse 可以工作\n  if (keywords && typeof keywords === 'string' && keywords.startsWith('[') && keywords.endsWith(']')) {\n    keywordsList = JSON.parse(keywords);\n  } else if (typeof keywords === 'string') {\n    // 如果它是一个普通字符串，比如 \"Military, National of defense\"\n    // 我们需要按逗号分割，并去除每个条目可能存在的多余空格\n    // 同时处理空字符串的情况，以避免产生包含一个空字符串的数组\n    if (keywords.trim() === '') {\n      keywordsList = [];\n    } else {\n      keywordsList = keywords.split(',').map(item => item.trim());\n    }\n  } else if (keywords === null || keywords === undefined) {\n    // 如果 keywords 是 null 或 undefined，视为空列表\n    keywordsList = [];\n  }\n  else {\n    // 如果输入不是字符串或者不是预期的格式，可以设置一个空数组或记录警告\n    console.warn(\"输入数据 'keywords' 不是预期的字符串格式:\", keywords);\n    keywordsList = [];\n    // 或者根据需要抛出错误:\n    // throw new Error(\"输入数据 'keywords' 不是预期的字符串格式\");\n  }\n\n  // 创建包含\"Name\"字段的对象数组\n  const formattedKeywords = keywordsList.map(keyword => ({ \"Name\": keyword }));\n  \n  // 返回格式化后的结果\n  return [{\n    json: {\n      data: formattedKeywords\n    }\n  }];\n} catch (error) { // 添加了 catch 块\n  // 如果在 try 块中的任何地方（例如 JSON.parse 或其他逻辑）发生错误\n  console.error(\"处理 'keywords' 时出错:\", error.message);\n  // 最好将错误抛出，这样工作流会停止，并且您可以在n8n界面看到错误详情。\n  // 你也可以选择返回一个表示错误的item\n  // return [{ json: { error: error.message, originalKeywords: keywords } }];\n  throw error;\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        400
      ],
      "id": "de0e5593-4f69-41b4-93d1-0b658e557f51",
      "name": "Code1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8d0629d2-75f9-42ea-be05-274f8cd3c589",
              "name": "currentRiskItemName",
              "value": "={{ $json.Name }}",
              "type": "string"
            },
            {
              "id": "b05a955b-d03c-480e-bde2-f69c4efaff87",
              "name": "institutionAFromWebhook",
              "value": "={{ $('Get Initial Params').item.json.institutionAFromQuery }}",
              "type": "string"
            },
            {
              "id": "34f218ae-fb8b-4168-8961-0068b1410778",
              "name": "systemprompt",
              "value": "You are a Research Security Analyst conducting initial open-source intelligence (OSINT) gathering.<Goal>Using web search capabilities, investigate potential connections (e.g., documented cooperation, funding, joint projects, shared personnel, significant mentions linking them) between Institution A and each item in Risk List C. Summarize key findings, identify any potential intermediary organizations (B) explicitly mentioned as linking A and C, and provide source URLs. Treat each item in List C individually for investigation.<\\/Goal><Information Gathering Strategy>1. For **each item** in Risk List C:* Formulate search queries combining Institution A ({Institution A}, {Location A}) with the specific risk item from List C.* Analyze search results for reports, news articles, official websites, publications, or other public documents indicating a potential connection.* Look for evidence of:** Direct Links:** A directly collaborates with, receives funding from, or is explicitly linked to the risk item C.** Indirect Links:** A and the risk item C are both explicitly linked through a specific third-party organization (Potential B).** Significant Mentions:** A and the risk item C are significantly mentioned together in a context suggesting risk or close association, even without explicit cooperation details.* When identifying Potential B, consider:* Explicit statements of intermediation.* Frequent co-occurrence of A, B, and C in multiple sources.* B's core business\\/research area's relevance to the A-C link.* Indirect relationship hints in the sources (e.g., \\\"A works with B on technology used by C\\\").2. If credible evidence of a connection is found for an item in List C, summarize the nature of the connection, assess source reliability, and capture the source URLs.3. If no credible evidence is found for an item in List C after thorough searching, note that.<\\/Information Gathering Strategy><Input>Institution A: {Institution A}Location A: {Location A}Risk List C: {List C}<\\/Input><Output Instructions>- Produce a JSON list as the output.- Each object in the list should correspond to **one item** from the input Risk List C.- For each item, provide the findings based on your search.- **Strictly output only the JSON list. Do not include any text before or after the JSON.**- **Follow the exact schema below for each item in your response:**- **relationship_type can be one of the following: \\\"Direct\\\", \\\"Indirect\\\", \\\"Significant Mention\\\", \\\"Unknown\\\", \\\"No Evidence Found\\\"**- **detailed summary of your findings, describing the nature of the connection, key details (like project names, funding, personnel) Only print for \\\"Direct\\\" ,\\\"Indirect\\\", and \\\"Significant Mention\\\"**{\\\"risk_item\\\": \\\"string\\\",          \\/\\/ The exact risk item from List C\\\"relationship_type\\\": \\\"string\\\", \\/\\/ Including \\\"Direct\\\", \\\"Indirect\\\", \\\"Significant Mention\\\", \\\"Unknown\\\", \\\"No Evidence Found\\\"\\\"finding_summary\\\": \\\"string\\\",   \\/\\/ A detailed summary of your findings, describing the nature of the connection, key details (like project names, funding, personnel) Only print for \\\"Direct\\\" ,\\\"Indirect\\\", and \\\"Significant Mention\\\".\\\"urls\\\": [\\\"string\\\"]             \\/\\/ List of all source URLs}<\\/Output Instructions><Output Format Example>[{\\\"risk_item\\\": \\\"Item 1 from List C\\\",\\\"finding_summary\\\": \\\"Summary of the connection found between A and Item 1. Describe the nature of the link (e.g., 'Joint research project on topic Z reported by Source X', 'Mentioned together in report Y discussing regional security concerns').\\\",\\\"relationship_type\\\": \\\"Direct\\\",\\\"urls\\\": [\\\"https:\\/\\/source1.com\\\", \\\"https:\\/\\/source2.com\\\"]},{\\\"risk_item\\\": \\\"Item 2 from List C\\\",\\\"relationship_type\\\": \\\"No Evidence Found\\\",\\\"urls\\\": []},{\\\"risk_item\\\": \\\"Item 3 from List C\\\",\\\"relationship_type\\\": \\\"Indirect\\\",\\\"finding_summary\\\": \\\"Summary of the indirect connection found between A and Item 3 through organization B.\\\",\\\"urls\\\": [\\\"https:\\/\\/source3.com\\\"]}]<\\/Output Format Example><Notes>**STRICTLY output only the JSON list. Do not include any text before or after the JSON. This is critical for parsing the output.****All text in the output, including keys and values, MUST be in English.****Do not use markdown code blocks or any other formatting - return only pure JSON.**<\\/Notes>.",
              "type": "string"
            },
            {
              "id": "e5dd5de3-bdbe-440e-bc17-2d5ad9fffe64",
              "name": "Date",
              "value": "={{ $('Get Initial Params').item.json.timeperiod }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        64,
        752
      ],
      "id": "d22636fd-5d10-480c-93f1-6be222652d05",
      "name": "Set Current NRO Data1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "70cac979-3c11-48af-916f-6db9af4c8e12",
              "name": "userPromptForAPI",
              "value": "=Please analyze the relationship between {{ $json.institutionAFromWebhook }} and {{ $json.currentRiskItemName }}. Return the result in the required JSON format.{{ $json.Date }}",
              "type": "string"
            },
            {
              "id": "398b4bd1-568a-445d-a0e3-771973e851a6",
              "name": "entityName",
              "value": "={{ $json.currentRiskItemName }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        272,
        752
      ],
      "id": "3a2cd92d-ca1e-47d5-bd33-106e47b3a158",
      "name": "Prompt generate1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.linkup.so/v1/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 00ebe384-1321-47b2-b963-adaa2cc696dc"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"q\": \"{{ $('Set Current NRO Data1').item.json.systemprompt }}{{ $('Loop Over Items').item.json.userPromptForAPI }}\",\n    \"depth\": \"standard\",\n    \"outputType\": \"sourcedAnswer\",\n    \"includeImages\": \"false\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1168,
        768
      ],
      "id": "585bc370-b112-4873-8fea-9384bb3a6f85",
      "name": "call_linkup_request"
    },
    {
      "parameters": {
        "amount": 0.5
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1344,
        768
      ],
      "id": "0a94e22d-0a1c-498b-b517-8ff8c1a4538b",
      "name": "Wait",
      "webhookId": "acf61868-f539-41d1-8f53-e72168256978"
    },
    {
      "parameters": {
        "tableId": "real_time_results",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "execution_id",
              "fieldValue": "={{ $('Get Initial Params').item.json.executionId }}"
            },
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $('Get Initial Params').item.json.user_id }}"
            },
            {
              "fieldId": "event_type",
              "fieldValue": "new_result"
            },
            {
              "fieldId": "search_type",
              "fieldValue": "chain_reaction"
            },
            {
              "fieldId": "relationship_type",
              "fieldValue": "={{ $('清理answer和url格式1').item.json.items[0].relationship_type }}"
            },
            {
              "fieldId": "entity_name",
              "fieldValue": "={{ $('Loop Over Items').item.json.entityName }}"
            },
            {
              "fieldId": "answer",
              "fieldValue": "={{ $('清理answer和url格式2').item.json.result }}"
            },
            {
              "fieldId": "sources",
              "fieldValue": "={{ $('Code3').item.json.source }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2528,
        784
      ],
      "id": "930ff1c6-6be5-47f3-8a4e-2226b2a3b750",
      "name": "Create a row",
      "credentials": {
        "supabaseApi": {
          "id": "UxAcHgavwGIrj1vS",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const sourceObject = $('call_linkup_request').first().json.sources|| {}; // 或者是你的具体大对象字段名\n\n// 直接转换整个对象为字符串（包含内部所有嵌套）\nconst sourceString = JSON.stringify(sourceObject);\n\nreturn [\n  {\n    json: {\n      source: sourceString\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2016,
        768
      ],
      "id": "562b8d8e-3187-4f41-a25b-9790621bdc97",
      "name": "Code3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a3dc5eaa-64e2-425e-ac53-66a8bda5c6a5",
              "leftValue": "={{ $('清理answer和url格式1').item.json.items[0].relationship_type }}",
              "rightValue": "No Evidence Found",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "39d69c56-86ad-4906-9578-c224650706be",
              "leftValue": "={{ $('清理answer和url格式1').item.json.items[0].relationship_type }}",
              "rightValue": "Significant Mention",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2224,
        768
      ],
      "id": "2e0935c9-1eca-459c-a375-58985e9b030b",
      "name": "If1"
    },
    {
      "parameters": {
        "tableId": "real_time_results",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "execution_id",
              "fieldValue": "={{ $('Get Initial Params').item.json.executionId }}"
            },
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $('Get Initial Params').item.json.user_id }}"
            },
            {
              "fieldId": "event_type",
              "fieldValue": "new_result"
            },
            {
              "fieldId": "search_type",
              "fieldValue": "chain_reaction"
            },
            {
              "fieldId": "relationship_type",
              "fieldValue": "={{ $('清理answer和url格式1').item.json.items[0].relationship_type }}"
            },
            {
              "fieldId": "entity_name",
              "fieldValue": "={{ $('Loop Over Items').item.json.entityName }}"
            },
            {
              "fieldId": "answer",
              "fieldValue": "={{ $('清理answer和url格式2').item.json.result }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2528,
        992
      ],
      "id": "dfd19b31-b2c8-4711-ac22-b2fda9afb8ef",
      "name": "no evidence",
      "credentials": {
        "supabaseApi": {
          "id": "UxAcHgavwGIrj1vS",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "real_time_results",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "execution_id",
              "fieldValue": "={{ $('Get Initial Params').item.json.executionId }}"
            },
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $('Get Initial Params').item.json.user_id }}"
            },
            {
              "fieldId": "event_type",
              "fieldValue": "processing_complete"
            },
            {
              "fieldId": "search_type",
              "fieldValue": "chain_reaction"
            },
            {
              "fieldId": "entity_name",
              "fieldValue": "={{ $('Get Initial Params').item.json.institutionAFromQuery }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1280,
        160
      ],
      "id": "ab43cafe-8d4f-46b0-b919-66d4549ea781",
      "name": "no evidence1",
      "credentials": {
        "supabaseApi": {
          "id": "UxAcHgavwGIrj1vS",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 获取所有输入的数据项\nconst allItems = $input.all();\nconst totalProcessed = allItems.length;\n\n// 创建完成通知\nconst doneMessage = {\n  status: 'completed',\n  message: `mission completed. ({totalProcessed} ) `,\n  timestamp: new Date().toISOString(),\n  totalItems: totalProcessed,\n  processingTime: new Date().toLocaleString('zh-CN', {\n    timeZone: 'Asia/Shanghai'\n  }),\n  summary: {\n    batchSize: 1,\n    totalBatches: totalProcessed,\n    status: 'success'\n  }\n};\n\n// 输出完成消息\nreturn doneMessage;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        768,
        560
      ],
      "id": "319ee71e-3af1-4e16-91f3-027c105cf055",
      "name": "Code2"
    }
  ],
  "pinData": {
    "no evidence1": [
      {
        "json": {
          "id": "67f18846-aff9-4123-97a5-c30e4ac05f1e",
          "execution_id": "mfcoo5rjr0u4b330ay",
          "user_id": "4a2f144c-62b7-4b3f-8c52-554175ff7bff",
          "search_type": "chain_reaction",
          "event_type": "processing_complete",
          "channel_name": null,
          "created_at": "2025-09-09T15:19:55.142645+00:00",
          "answer": null,
          "sources": null,
          "relationship_type": null,
          "entity_name": "amirkabir university technology"
        }
      },
      {
        "json": {
          "id": "481a3044-4a23-453e-ae70-2d591395454a",
          "execution_id": "mfcoo5rjr0u4b330ay",
          "user_id": "4a2f144c-62b7-4b3f-8c52-554175ff7bff",
          "search_type": "chain_reaction",
          "event_type": "processing_complete",
          "channel_name": null,
          "created_at": "2025-09-09T15:19:55.142645+00:00",
          "answer": null,
          "sources": null,
          "relationship_type": null,
          "entity_name": "amirkabir university technology"
        }
      },
      {
        "json": {
          "id": "68ee7d43-5eed-4e07-b573-75d32c5e2213",
          "execution_id": "mfcoo5rjr0u4b330ay",
          "user_id": "4a2f144c-62b7-4b3f-8c52-554175ff7bff",
          "search_type": "chain_reaction",
          "event_type": "processing_complete",
          "channel_name": null,
          "created_at": "2025-09-09T15:19:55.142645+00:00",
          "answer": null,
          "sources": null,
          "relationship_type": null,
          "entity_name": "amirkabir university technology"
        }
      },
      {
        "json": {
          "id": "3a3cb41e-ae5c-4996-ab7b-cb7f8d5d850e",
          "execution_id": "mfcoo5rjr0u4b330ay",
          "user_id": "4a2f144c-62b7-4b3f-8c52-554175ff7bff",
          "search_type": "chain_reaction",
          "event_type": "processing_complete",
          "channel_name": null,
          "created_at": "2025-09-09T15:19:55.142645+00:00",
          "answer": null,
          "sources": null,
          "relationship_type": null,
          "entity_name": "amirkabir university technology"
        }
      },
      {
        "json": {
          "id": "1b335ffc-f24d-46bd-9dff-658a7e4be1f3",
          "execution_id": "mfcoo5rjr0u4b330ay",
          "user_id": "4a2f144c-62b7-4b3f-8c52-554175ff7bff",
          "search_type": "chain_reaction",
          "event_type": "processing_complete",
          "channel_name": null,
          "created_at": "2025-09-09T15:19:55.142645+00:00",
          "answer": null,
          "sources": null,
          "relationship_type": null,
          "entity_name": "amirkabir university technology"
        }
      },
      {
        "json": {
          "id": "a86080a1-fafa-45b1-9bf1-36368c7c4033",
          "execution_id": "mfcoo5rjr0u4b330ay",
          "user_id": "4a2f144c-62b7-4b3f-8c52-554175ff7bff",
          "search_type": "chain_reaction",
          "event_type": "processing_complete",
          "channel_name": null,
          "created_at": "2025-09-09T15:19:55.142645+00:00",
          "answer": null,
          "sources": null,
          "relationship_type": null,
          "entity_name": "amirkabir university technology"
        }
      },
      {
        "json": {
          "id": "57985143-717e-4b8a-883e-f18a7a886d1f",
          "execution_id": "mfcoo5rjr0u4b330ay",
          "user_id": "4a2f144c-62b7-4b3f-8c52-554175ff7bff",
          "search_type": "chain_reaction",
          "event_type": "processing_complete",
          "channel_name": null,
          "created_at": "2025-09-09T15:19:55.142645+00:00",
          "answer": null,
          "sources": null,
          "relationship_type": null,
          "entity_name": "amirkabir university technology"
        }
      },
      {
        "json": {
          "id": "6bf43e73-f0da-4f08-87f8-38a02e817140",
          "execution_id": "mfcoo5rjr0u4b330ay",
          "user_id": "4a2f144c-62b7-4b3f-8c52-554175ff7bff",
          "search_type": "chain_reaction",
          "event_type": "processing_complete",
          "channel_name": null,
          "created_at": "2025-09-09T15:19:55.142645+00:00",
          "answer": null,
          "sources": null,
          "relationship_type": null,
          "entity_name": "amirkabir university technology"
        }
      },
      {
        "json": {
          "id": "46b5e5c7-519b-491a-84e4-1ea025f321c6",
          "execution_id": "mfcoo5rjr0u4b330ay",
          "user_id": "4a2f144c-62b7-4b3f-8c52-554175ff7bff",
          "search_type": "chain_reaction",
          "event_type": "processing_complete",
          "channel_name": null,
          "created_at": "2025-09-09T15:19:55.142645+00:00",
          "answer": null,
          "sources": null,
          "relationship_type": null,
          "entity_name": "amirkabir university technology"
        }
      },
      {
        "json": {
          "id": "c7947ff8-c6b3-4bb7-b3a3-60ac24a24ecb",
          "execution_id": "mfcoo5rjr0u4b330ay",
          "user_id": "4a2f144c-62b7-4b3f-8c52-554175ff7bff",
          "search_type": "chain_reaction",
          "event_type": "processing_complete",
          "channel_name": null,
          "created_at": "2025-09-09T15:19:55.142645+00:00",
          "answer": null,
          "sources": null,
          "relationship_type": null,
          "entity_name": "amirkabir university technology"
        }
      },
      {
        "json": {
          "id": "76998f7a-7550-417e-bfc8-dc1c87d7cdb2",
          "execution_id": "mfcoo5rjr0u4b330ay",
          "user_id": "4a2f144c-62b7-4b3f-8c52-554175ff7bff",
          "search_type": "chain_reaction",
          "event_type": "processing_complete",
          "channel_name": null,
          "created_at": "2025-09-09T15:19:55.142645+00:00",
          "answer": null,
          "sources": null,
          "relationship_type": null,
          "entity_name": "amirkabir university technology"
        }
      },
      {
        "json": {
          "id": "cfc35d9b-1312-4baa-8f25-3c2cdf02d966",
          "execution_id": "mfcoo5rjr0u4b330ay",
          "user_id": "4a2f144c-62b7-4b3f-8c52-554175ff7bff",
          "search_type": "chain_reaction",
          "event_type": "processing_complete",
          "channel_name": null,
          "created_at": "2025-09-09T15:19:55.142645+00:00",
          "answer": null,
          "sources": null,
          "relationship_type": null,
          "entity_name": "amirkabir university technology"
        }
      },
      {
        "json": {
          "id": "d5872388-2125-48fa-adda-6430fb03c00f",
          "execution_id": "mfcoo5rjr0u4b330ay",
          "user_id": "4a2f144c-62b7-4b3f-8c52-554175ff7bff",
          "search_type": "chain_reaction",
          "event_type": "processing_complete",
          "channel_name": null,
          "created_at": "2025-09-09T15:19:55.142645+00:00",
          "answer": null,
          "sources": null,
          "relationship_type": null,
          "entity_name": "amirkabir university technology"
        }
      },
      {
        "json": {
          "id": "8f3a001c-ee76-4b90-8f64-3fa4a2647b35",
          "execution_id": "mfcoo5rjr0u4b330ay",
          "user_id": "4a2f144c-62b7-4b3f-8c52-554175ff7bff",
          "search_type": "chain_reaction",
          "event_type": "processing_complete",
          "channel_name": null,
          "created_at": "2025-09-09T15:19:55.142645+00:00",
          "answer": null,
          "sources": null,
          "relationship_type": null,
          "entity_name": "amirkabir university technology"
        }
      },
      {
        "json": {
          "id": "73927bcd-44d0-4420-bdff-81eccae0053b",
          "execution_id": "mfcoo5rjr0u4b330ay",
          "user_id": "4a2f144c-62b7-4b3f-8c52-554175ff7bff",
          "search_type": "chain_reaction",
          "event_type": "processing_complete",
          "channel_name": null,
          "created_at": "2025-09-09T15:19:55.142645+00:00",
          "answer": null,
          "sources": null,
          "relationship_type": null,
          "entity_name": "amirkabir university technology"
        }
      },
      {
        "json": {
          "id": "c825fb5e-cf26-47ed-b767-1e83c3d8b3b6",
          "execution_id": "mfcoo5rjr0u4b330ay",
          "user_id": "4a2f144c-62b7-4b3f-8c52-554175ff7bff",
          "search_type": "chain_reaction",
          "event_type": "processing_complete",
          "channel_name": null,
          "created_at": "2025-09-09T15:19:55.142645+00:00",
          "answer": null,
          "sources": null,
          "relationship_type": null,
          "entity_name": "amirkabir university technology"
        }
      },
      {
        "json": {
          "id": "99dc2827-daa7-416c-81ed-5453132b70de",
          "execution_id": "mfcoo5rjr0u4b330ay",
          "user_id": "4a2f144c-62b7-4b3f-8c52-554175ff7bff",
          "search_type": "chain_reaction",
          "event_type": "processing_complete",
          "channel_name": null,
          "created_at": "2025-09-09T15:19:55.142645+00:00",
          "answer": null,
          "sources": null,
          "relationship_type": null,
          "entity_name": "amirkabir university technology"
        }
      },
      {
        "json": {
          "id": "b0ddcc69-36c2-4c50-b2dc-5cd4b3d6cf6e",
          "execution_id": "mfcoo5rjr0u4b330ay",
          "user_id": "4a2f144c-62b7-4b3f-8c52-554175ff7bff",
          "search_type": "chain_reaction",
          "event_type": "processing_complete",
          "channel_name": null,
          "created_at": "2025-09-09T15:19:55.142645+00:00",
          "answer": null,
          "sources": null,
          "relationship_type": null,
          "entity_name": "amirkabir university technology"
        }
      },
      {
        "json": {
          "id": "5a59b11d-2ca1-4a3e-8078-3ff099cce282",
          "execution_id": "mfcoo5rjr0u4b330ay",
          "user_id": "4a2f144c-62b7-4b3f-8c52-554175ff7bff",
          "search_type": "chain_reaction",
          "event_type": "processing_complete",
          "channel_name": null,
          "created_at": "2025-09-09T15:19:55.142645+00:00",
          "answer": null,
          "sources": null,
          "relationship_type": null,
          "entity_name": "amirkabir university technology"
        }
      },
      {
        "json": {
          "id": "ea2b28ae-06fa-4478-b8eb-28f760e75786",
          "execution_id": "mfcoo5rjr0u4b330ay",
          "user_id": "4a2f144c-62b7-4b3f-8c52-554175ff7bff",
          "search_type": "chain_reaction",
          "event_type": "processing_complete",
          "channel_name": null,
          "created_at": "2025-09-09T15:19:55.142645+00:00",
          "answer": null,
          "sources": null,
          "relationship_type": null,
          "entity_name": "amirkabir university technology"
        }
      },
      {
        "json": {
          "id": "84f31689-00bc-4be2-a27d-e498e2d37ab4",
          "execution_id": "mfcoo5rjr0u4b330ay",
          "user_id": "4a2f144c-62b7-4b3f-8c52-554175ff7bff",
          "search_type": "chain_reaction",
          "event_type": "processing_complete",
          "channel_name": null,
          "created_at": "2025-09-09T15:19:55.142645+00:00",
          "answer": null,
          "sources": null,
          "relationship_type": null,
          "entity_name": "amirkabir university technology"
        }
      },
      {
        "json": {
          "id": "3e3cd513-f7d6-4b37-9099-70c7e68ae299",
          "execution_id": "mfcoo5rjr0u4b330ay",
          "user_id": "4a2f144c-62b7-4b3f-8c52-554175ff7bff",
          "search_type": "chain_reaction",
          "event_type": "processing_complete",
          "channel_name": null,
          "created_at": "2025-09-09T15:19:55.142645+00:00",
          "answer": null,
          "sources": null,
          "relationship_type": null,
          "entity_name": "amirkabir university technology"
        }
      },
      {
        "json": {
          "id": "ddb3df10-16d7-4416-b72d-18d67a56d88c",
          "execution_id": "mfcoo5rjr0u4b330ay",
          "user_id": "4a2f144c-62b7-4b3f-8c52-554175ff7bff",
          "search_type": "chain_reaction",
          "event_type": "processing_complete",
          "channel_name": null,
          "created_at": "2025-09-09T15:19:55.142645+00:00",
          "answer": null,
          "sources": null,
          "relationship_type": null,
          "entity_name": "amirkabir university technology"
        }
      },
      {
        "json": {
          "id": "2c16ec29-50b3-4399-9c88-720d64c96952",
          "execution_id": "mfcoo5rjr0u4b330ay",
          "user_id": "4a2f144c-62b7-4b3f-8c52-554175ff7bff",
          "search_type": "chain_reaction",
          "event_type": "processing_complete",
          "channel_name": null,
          "created_at": "2025-09-09T15:19:55.142645+00:00",
          "answer": null,
          "sources": null,
          "relationship_type": null,
          "entity_name": "amirkabir university technology"
        }
      },
      {
        "json": {
          "id": "5e8b3791-e11b-473a-840f-c1be3c08afb6",
          "execution_id": "mfcoo5rjr0u4b330ay",
          "user_id": "4a2f144c-62b7-4b3f-8c52-554175ff7bff",
          "search_type": "chain_reaction",
          "event_type": "processing_complete",
          "channel_name": null,
          "created_at": "2025-09-09T15:19:55.142645+00:00",
          "answer": null,
          "sources": null,
          "relationship_type": null,
          "entity_name": "amirkabir university technology"
        }
      },
      {
        "json": {
          "id": "9d757ec6-854b-49f9-9894-408237f1ff54",
          "execution_id": "mfcoo5rjr0u4b330ay",
          "user_id": "4a2f144c-62b7-4b3f-8c52-554175ff7bff",
          "search_type": "chain_reaction",
          "event_type": "processing_complete",
          "channel_name": null,
          "created_at": "2025-09-09T15:19:55.142645+00:00",
          "answer": null,
          "sources": null,
          "relationship_type": null,
          "entity_name": "amirkabir university technology"
        }
      },
      {
        "json": {
          "id": "aa87d42d-5549-4a3d-a45b-55f6f00743e9",
          "execution_id": "mfcoo5rjr0u4b330ay",
          "user_id": "4a2f144c-62b7-4b3f-8c52-554175ff7bff",
          "search_type": "chain_reaction",
          "event_type": "processing_complete",
          "channel_name": null,
          "created_at": "2025-09-09T15:19:55.142645+00:00",
          "answer": null,
          "sources": null,
          "relationship_type": null,
          "entity_name": "amirkabir university technology"
        }
      },
      {
        "json": {
          "id": "783c8628-aaa1-41c1-a943-39c945af0940",
          "execution_id": "mfcoo5rjr0u4b330ay",
          "user_id": "4a2f144c-62b7-4b3f-8c52-554175ff7bff",
          "search_type": "chain_reaction",
          "event_type": "processing_complete",
          "channel_name": null,
          "created_at": "2025-09-09T15:19:55.142645+00:00",
          "answer": null,
          "sources": null,
          "relationship_type": null,
          "entity_name": "amirkabir university technology"
        }
      },
      {
        "json": {
          "id": "3cd8307c-1efa-4504-88e3-c175a497e8a2",
          "execution_id": "mfcoo5rjr0u4b330ay",
          "user_id": "4a2f144c-62b7-4b3f-8c52-554175ff7bff",
          "search_type": "chain_reaction",
          "event_type": "processing_complete",
          "channel_name": null,
          "created_at": "2025-09-09T15:19:55.142645+00:00",
          "answer": null,
          "sources": null,
          "relationship_type": null,
          "entity_name": "amirkabir university technology"
        }
      },
      {
        "json": {
          "id": "492712a0-aa50-473e-beaa-74a303d1eb3d",
          "execution_id": "mfcoo5rjr0u4b330ay",
          "user_id": "4a2f144c-62b7-4b3f-8c52-554175ff7bff",
          "search_type": "chain_reaction",
          "event_type": "processing_complete",
          "channel_name": null,
          "created_at": "2025-09-09T15:19:55.142645+00:00",
          "answer": null,
          "sources": null,
          "relationship_type": null,
          "entity_name": "amirkabir university technology"
        }
      },
      {
        "json": {
          "id": "7e0c45ae-3cbd-4658-9f53-f660a7d5c523",
          "execution_id": "mfcoo5rjr0u4b330ay",
          "user_id": "4a2f144c-62b7-4b3f-8c52-554175ff7bff",
          "search_type": "chain_reaction",
          "event_type": "processing_complete",
          "channel_name": null,
          "created_at": "2025-09-09T15:19:55.142645+00:00",
          "answer": null,
          "sources": null,
          "relationship_type": null,
          "entity_name": "amirkabir university technology"
        }
      },
      {
        "json": {
          "id": "f8b5102e-4a14-4850-9b09-ecee3b628c8d",
          "execution_id": "mfcoo5rjr0u4b330ay",
          "user_id": "4a2f144c-62b7-4b3f-8c52-554175ff7bff",
          "search_type": "chain_reaction",
          "event_type": "processing_complete",
          "channel_name": null,
          "created_at": "2025-09-09T15:19:55.142645+00:00",
          "answer": null,
          "sources": null,
          "relationship_type": null,
          "entity_name": "amirkabir university technology"
        }
      },
      {
        "json": {
          "id": "c5ee32ba-e9b5-4512-8561-591380940759",
          "execution_id": "mfcoo5rjr0u4b330ay",
          "user_id": "4a2f144c-62b7-4b3f-8c52-554175ff7bff",
          "search_type": "chain_reaction",
          "event_type": "processing_complete",
          "channel_name": null,
          "created_at": "2025-09-09T15:19:55.142645+00:00",
          "answer": null,
          "sources": null,
          "relationship_type": null,
          "entity_name": "amirkabir university technology"
        }
      },
      {
        "json": {
          "id": "842c23d6-1f5b-4bc1-a57e-514f92ca4004",
          "execution_id": "mfcoo5rjr0u4b330ay",
          "user_id": "4a2f144c-62b7-4b3f-8c52-554175ff7bff",
          "search_type": "chain_reaction",
          "event_type": "processing_complete",
          "channel_name": null,
          "created_at": "2025-09-09T15:19:55.142645+00:00",
          "answer": null,
          "sources": null,
          "relationship_type": null,
          "entity_name": "amirkabir university technology"
        }
      },
      {
        "json": {
          "id": "ac6b11a2-04b1-41f9-a601-6ef84ec458e7",
          "execution_id": "mfcoo5rjr0u4b330ay",
          "user_id": "4a2f144c-62b7-4b3f-8c52-554175ff7bff",
          "search_type": "chain_reaction",
          "event_type": "processing_complete",
          "channel_name": null,
          "created_at": "2025-09-09T15:19:55.142645+00:00",
          "answer": null,
          "sources": null,
          "relationship_type": null,
          "entity_name": "amirkabir university technology"
        }
      },
      {
        "json": {
          "id": "84f55731-5ede-4385-8bce-00600bda2959",
          "execution_id": "mfcoo5rjr0u4b330ay",
          "user_id": "4a2f144c-62b7-4b3f-8c52-554175ff7bff",
          "search_type": "chain_reaction",
          "event_type": "processing_complete",
          "channel_name": null,
          "created_at": "2025-09-09T15:19:55.142645+00:00",
          "answer": null,
          "sources": null,
          "relationship_type": null,
          "entity_name": "amirkabir university technology"
        }
      },
      {
        "json": {
          "id": "adab57a9-f014-4f1f-81d2-5f19e8fe4c9e",
          "execution_id": "mfcoo5rjr0u4b330ay",
          "user_id": "4a2f144c-62b7-4b3f-8c52-554175ff7bff",
          "search_type": "chain_reaction",
          "event_type": "processing_complete",
          "channel_name": null,
          "created_at": "2025-09-09T15:19:55.142645+00:00",
          "answer": null,
          "sources": null,
          "relationship_type": null,
          "entity_name": "amirkabir university technology"
        }
      },
      {
        "json": {
          "id": "5fbc1653-c0a3-4e03-b71e-c61c1de8cfb3",
          "execution_id": "mfcoo5rjr0u4b330ay",
          "user_id": "4a2f144c-62b7-4b3f-8c52-554175ff7bff",
          "search_type": "chain_reaction",
          "event_type": "processing_complete",
          "channel_name": null,
          "created_at": "2025-09-09T15:19:55.142645+00:00",
          "answer": null,
          "sources": null,
          "relationship_type": null,
          "entity_name": "amirkabir university technology"
        }
      },
      {
        "json": {
          "id": "55e3712d-9bd3-4acd-8857-4587270da3dd",
          "execution_id": "mfcoo5rjr0u4b330ay",
          "user_id": "4a2f144c-62b7-4b3f-8c52-554175ff7bff",
          "search_type": "chain_reaction",
          "event_type": "processing_complete",
          "channel_name": null,
          "created_at": "2025-09-09T15:19:55.142645+00:00",
          "answer": null,
          "sources": null,
          "relationship_type": null,
          "entity_name": "amirkabir university technology"
        }
      },
      {
        "json": {
          "id": "e47b7109-54f5-4ac5-be00-8c73ac042532",
          "execution_id": "mfcoo5rjr0u4b330ay",
          "user_id": "4a2f144c-62b7-4b3f-8c52-554175ff7bff",
          "search_type": "chain_reaction",
          "event_type": "processing_complete",
          "channel_name": null,
          "created_at": "2025-09-09T15:19:55.142645+00:00",
          "answer": null,
          "sources": null,
          "relationship_type": null,
          "entity_name": "amirkabir university technology"
        }
      },
      {
        "json": {
          "id": "f2676924-4d17-4a25-bd29-f91272412480",
          "execution_id": "mfcoo5rjr0u4b330ay",
          "user_id": "4a2f144c-62b7-4b3f-8c52-554175ff7bff",
          "search_type": "chain_reaction",
          "event_type": "processing_complete",
          "channel_name": null,
          "created_at": "2025-09-09T15:19:55.142645+00:00",
          "answer": null,
          "sources": null,
          "relationship_type": null,
          "entity_name": "amirkabir university technology"
        }
      },
      {
        "json": {
          "id": "d184056b-a63a-49b8-8ec9-a32a3428af7b",
          "execution_id": "mfcoo5rjr0u4b330ay",
          "user_id": "4a2f144c-62b7-4b3f-8c52-554175ff7bff",
          "search_type": "chain_reaction",
          "event_type": "processing_complete",
          "channel_name": null,
          "created_at": "2025-09-09T15:19:55.142645+00:00",
          "answer": null,
          "sources": null,
          "relationship_type": null,
          "entity_name": "amirkabir university technology"
        }
      },
      {
        "json": {
          "id": "67fc1c12-092e-43e2-9a2e-50ae492a942c",
          "execution_id": "mfcoo5rjr0u4b330ay",
          "user_id": "4a2f144c-62b7-4b3f-8c52-554175ff7bff",
          "search_type": "chain_reaction",
          "event_type": "processing_complete",
          "channel_name": null,
          "created_at": "2025-09-09T15:19:55.142645+00:00",
          "answer": null,
          "sources": null,
          "relationship_type": null,
          "entity_name": "amirkabir university technology"
        }
      },
      {
        "json": {
          "id": "dbdaf926-2221-4c0c-9609-ad73098fd645",
          "execution_id": "mfcoo5rjr0u4b330ay",
          "user_id": "4a2f144c-62b7-4b3f-8c52-554175ff7bff",
          "search_type": "chain_reaction",
          "event_type": "processing_complete",
          "channel_name": null,
          "created_at": "2025-09-09T15:19:55.142645+00:00",
          "answer": null,
          "sources": null,
          "relationship_type": null,
          "entity_name": "amirkabir university technology"
        }
      },
      {
        "json": {
          "id": "c27eb7af-a7ae-40f3-bc29-e4660a19d952",
          "execution_id": "mfcoo5rjr0u4b330ay",
          "user_id": "4a2f144c-62b7-4b3f-8c52-554175ff7bff",
          "search_type": "chain_reaction",
          "event_type": "processing_complete",
          "channel_name": null,
          "created_at": "2025-09-09T15:19:55.142645+00:00",
          "answer": null,
          "sources": null,
          "relationship_type": null,
          "entity_name": "amirkabir university technology"
        }
      },
      {
        "json": {
          "id": "28d8da17-5fdf-4dff-804c-616784ac8061",
          "execution_id": "mfcoo5rjr0u4b330ay",
          "user_id": "4a2f144c-62b7-4b3f-8c52-554175ff7bff",
          "search_type": "chain_reaction",
          "event_type": "processing_complete",
          "channel_name": null,
          "created_at": "2025-09-09T15:19:55.142645+00:00",
          "answer": null,
          "sources": null,
          "relationship_type": null,
          "entity_name": "amirkabir university technology"
        }
      },
      {
        "json": {
          "id": "738986fb-d3ab-4081-9bc1-6e9a5f7a204b",
          "execution_id": "mfcoo5rjr0u4b330ay",
          "user_id": "4a2f144c-62b7-4b3f-8c52-554175ff7bff",
          "search_type": "chain_reaction",
          "event_type": "processing_complete",
          "channel_name": null,
          "created_at": "2025-09-09T15:19:55.142645+00:00",
          "answer": null,
          "sources": null,
          "relationship_type": null,
          "entity_name": "amirkabir university technology"
        }
      },
      {
        "json": {
          "id": "3dc0a56e-0a6f-4228-b65e-3e7aa5b4f353",
          "execution_id": "mfcoo5rjr0u4b330ay",
          "user_id": "4a2f144c-62b7-4b3f-8c52-554175ff7bff",
          "search_type": "chain_reaction",
          "event_type": "processing_complete",
          "channel_name": null,
          "created_at": "2025-09-09T15:19:55.142645+00:00",
          "answer": null,
          "sources": null,
          "relationship_type": null,
          "entity_name": "amirkabir university technology"
        }
      },
      {
        "json": {
          "id": "7ab131cb-978d-45e4-a8cb-c6d34daa0260",
          "execution_id": "mfcoo5rjr0u4b330ay",
          "user_id": "4a2f144c-62b7-4b3f-8c52-554175ff7bff",
          "search_type": "chain_reaction",
          "event_type": "processing_complete",
          "channel_name": null,
          "created_at": "2025-09-09T15:19:55.142645+00:00",
          "answer": null,
          "sources": null,
          "relationship_type": null,
          "entity_name": "amirkabir university technology"
        }
      },
      {
        "json": {
          "id": "e83dcd57-3f3d-485d-bb18-94e227c82b67",
          "execution_id": "mfcoo5rjr0u4b330ay",
          "user_id": "4a2f144c-62b7-4b3f-8c52-554175ff7bff",
          "search_type": "chain_reaction",
          "event_type": "processing_complete",
          "channel_name": null,
          "created_at": "2025-09-09T15:19:55.142645+00:00",
          "answer": null,
          "sources": null,
          "relationship_type": null,
          "entity_name": "amirkabir university technology"
        }
      },
      {
        "json": {
          "id": "9fad4a08-49f7-4332-a424-72e7006be059",
          "execution_id": "mfcoo5rjr0u4b330ay",
          "user_id": "4a2f144c-62b7-4b3f-8c52-554175ff7bff",
          "search_type": "chain_reaction",
          "event_type": "processing_complete",
          "channel_name": null,
          "created_at": "2025-09-09T15:19:55.142645+00:00",
          "answer": null,
          "sources": null,
          "relationship_type": null,
          "entity_name": "amirkabir university technology"
        }
      },
      {
        "json": {
          "id": "3d3a28fd-8b55-4000-8447-f236fa6c66e2",
          "execution_id": "mfcoo5rjr0u4b330ay",
          "user_id": "4a2f144c-62b7-4b3f-8c52-554175ff7bff",
          "search_type": "chain_reaction",
          "event_type": "processing_complete",
          "channel_name": null,
          "created_at": "2025-09-09T15:19:55.142645+00:00",
          "answer": null,
          "sources": null,
          "relationship_type": null,
          "entity_name": "amirkabir university technology"
        }
      },
      {
        "json": {
          "id": "15f7229f-e48d-4401-8a68-eb4665d87a9f",
          "execution_id": "mfcoo5rjr0u4b330ay",
          "user_id": "4a2f144c-62b7-4b3f-8c52-554175ff7bff",
          "search_type": "chain_reaction",
          "event_type": "processing_complete",
          "channel_name": null,
          "created_at": "2025-09-09T15:19:55.142645+00:00",
          "answer": null,
          "sources": null,
          "relationship_type": null,
          "entity_name": "amirkabir university technology"
        }
      },
      {
        "json": {
          "id": "8c169244-1676-4e00-b892-edd70ae1f62d",
          "execution_id": "mfcoo5rjr0u4b330ay",
          "user_id": "4a2f144c-62b7-4b3f-8c52-554175ff7bff",
          "search_type": "chain_reaction",
          "event_type": "processing_complete",
          "channel_name": null,
          "created_at": "2025-09-09T15:19:55.142645+00:00",
          "answer": null,
          "sources": null,
          "relationship_type": null,
          "entity_name": "amirkabir university technology"
        }
      },
      {
        "json": {
          "id": "4e43180a-ed10-4385-abb6-d2b4204eed47",
          "execution_id": "mfcoo5rjr0u4b330ay",
          "user_id": "4a2f144c-62b7-4b3f-8c52-554175ff7bff",
          "search_type": "chain_reaction",
          "event_type": "processing_complete",
          "channel_name": null,
          "created_at": "2025-09-09T15:19:55.142645+00:00",
          "answer": null,
          "sources": null,
          "relationship_type": null,
          "entity_name": "amirkabir university technology"
        }
      },
      {
        "json": {
          "id": "184ee040-98f9-4232-a399-9098bab630b3",
          "execution_id": "mfcoo5rjr0u4b330ay",
          "user_id": "4a2f144c-62b7-4b3f-8c52-554175ff7bff",
          "search_type": "chain_reaction",
          "event_type": "processing_complete",
          "channel_name": null,
          "created_at": "2025-09-09T15:19:55.142645+00:00",
          "answer": null,
          "sources": null,
          "relationship_type": null,
          "entity_name": "amirkabir university technology"
        }
      },
      {
        "json": {
          "id": "af0eefa8-483d-4ec1-81c2-dfb202cde890",
          "execution_id": "mfcoo5rjr0u4b330ay",
          "user_id": "4a2f144c-62b7-4b3f-8c52-554175ff7bff",
          "search_type": "chain_reaction",
          "event_type": "processing_complete",
          "channel_name": null,
          "created_at": "2025-09-09T15:19:55.142645+00:00",
          "answer": null,
          "sources": null,
          "relationship_type": null,
          "entity_name": "amirkabir university technology"
        }
      },
      {
        "json": {
          "id": "0cbd1703-1100-4904-ba6f-2c5ac50de00e",
          "execution_id": "mfcoo5rjr0u4b330ay",
          "user_id": "4a2f144c-62b7-4b3f-8c52-554175ff7bff",
          "search_type": "chain_reaction",
          "event_type": "processing_complete",
          "channel_name": null,
          "created_at": "2025-09-09T15:19:55.142645+00:00",
          "answer": null,
          "sources": null,
          "relationship_type": null,
          "entity_name": "amirkabir university technology"
        }
      },
      {
        "json": {
          "id": "d14e673a-51fa-4160-8345-c5b242beeab0",
          "execution_id": "mfcoo5rjr0u4b330ay",
          "user_id": "4a2f144c-62b7-4b3f-8c52-554175ff7bff",
          "search_type": "chain_reaction",
          "event_type": "processing_complete",
          "channel_name": null,
          "created_at": "2025-09-09T15:19:55.142645+00:00",
          "answer": null,
          "sources": null,
          "relationship_type": null,
          "entity_name": "amirkabir university technology"
        }
      },
      {
        "json": {
          "id": "8ef362b5-023b-42b7-b083-2f9ce13de183",
          "execution_id": "mfcoo5rjr0u4b330ay",
          "user_id": "4a2f144c-62b7-4b3f-8c52-554175ff7bff",
          "search_type": "chain_reaction",
          "event_type": "processing_complete",
          "channel_name": null,
          "created_at": "2025-09-09T15:19:55.142645+00:00",
          "answer": null,
          "sources": null,
          "relationship_type": null,
          "entity_name": "amirkabir university technology"
        }
      },
      {
        "json": {
          "id": "40204da7-16ea-41f3-8c60-0a6fdcb7653a",
          "execution_id": "mfcoo5rjr0u4b330ay",
          "user_id": "4a2f144c-62b7-4b3f-8c52-554175ff7bff",
          "search_type": "chain_reaction",
          "event_type": "processing_complete",
          "channel_name": null,
          "created_at": "2025-09-09T15:19:55.142645+00:00",
          "answer": null,
          "sources": null,
          "relationship_type": null,
          "entity_name": "amirkabir university technology"
        }
      },
      {
        "json": {
          "id": "3307d81e-22d8-4660-a115-d40be31bfbf6",
          "execution_id": "mfcoo5rjr0u4b330ay",
          "user_id": "4a2f144c-62b7-4b3f-8c52-554175ff7bff",
          "search_type": "chain_reaction",
          "event_type": "processing_complete",
          "channel_name": null,
          "created_at": "2025-09-09T15:19:55.142645+00:00",
          "answer": null,
          "sources": null,
          "relationship_type": null,
          "entity_name": "amirkabir university technology"
        }
      },
      {
        "json": {
          "id": "6f9bbbb2-7aa0-44ee-ae6c-ee11b9eb72bb",
          "execution_id": "mfcoo5rjr0u4b330ay",
          "user_id": "4a2f144c-62b7-4b3f-8c52-554175ff7bff",
          "search_type": "chain_reaction",
          "event_type": "processing_complete",
          "channel_name": null,
          "created_at": "2025-09-09T15:19:55.142645+00:00",
          "answer": null,
          "sources": null,
          "relationship_type": null,
          "entity_name": "amirkabir university technology"
        }
      },
      {
        "json": {
          "id": "6902eef4-c471-428a-a502-48fe6bdd3559",
          "execution_id": "mfcoo5rjr0u4b330ay",
          "user_id": "4a2f144c-62b7-4b3f-8c52-554175ff7bff",
          "search_type": "chain_reaction",
          "event_type": "processing_complete",
          "channel_name": null,
          "created_at": "2025-09-09T15:19:55.142645+00:00",
          "answer": null,
          "sources": null,
          "relationship_type": null,
          "entity_name": "amirkabir university technology"
        }
      },
      {
        "json": {
          "id": "5c2a9bb3-8634-4a67-8b1f-248264f040ba",
          "execution_id": "mfcoo5rjr0u4b330ay",
          "user_id": "4a2f144c-62b7-4b3f-8c52-554175ff7bff",
          "search_type": "chain_reaction",
          "event_type": "processing_complete",
          "channel_name": null,
          "created_at": "2025-09-09T15:19:55.142645+00:00",
          "answer": null,
          "sources": null,
          "relationship_type": null,
          "entity_name": "amirkabir university technology"
        }
      },
      {
        "json": {
          "id": "2d56acd9-0175-41d5-bed9-13bb626857aa",
          "execution_id": "mfcoo5rjr0u4b330ay",
          "user_id": "4a2f144c-62b7-4b3f-8c52-554175ff7bff",
          "search_type": "chain_reaction",
          "event_type": "processing_complete",
          "channel_name": null,
          "created_at": "2025-09-09T15:19:55.142645+00:00",
          "answer": null,
          "sources": null,
          "relationship_type": null,
          "entity_name": "amirkabir university technology"
        }
      },
      {
        "json": {
          "id": "c9b7f48f-5068-4bd5-bf68-0f9fe9786c1a",
          "execution_id": "mfcoo5rjr0u4b330ay",
          "user_id": "4a2f144c-62b7-4b3f-8c52-554175ff7bff",
          "search_type": "chain_reaction",
          "event_type": "processing_complete",
          "channel_name": null,
          "created_at": "2025-09-09T15:19:55.142645+00:00",
          "answer": null,
          "sources": null,
          "relationship_type": null,
          "entity_name": "amirkabir university technology"
        }
      },
      {
        "json": {
          "id": "c18c4738-84c7-42d5-a47a-4fe57d83ad6c",
          "execution_id": "mfcoo5rjr0u4b330ay",
          "user_id": "4a2f144c-62b7-4b3f-8c52-554175ff7bff",
          "search_type": "chain_reaction",
          "event_type": "processing_complete",
          "channel_name": null,
          "created_at": "2025-09-09T15:19:55.142645+00:00",
          "answer": null,
          "sources": null,
          "relationship_type": null,
          "entity_name": "amirkabir university technology"
        }
      },
      {
        "json": {
          "id": "62649608-e1d7-4108-a340-222385c67b62",
          "execution_id": "mfcoo5rjr0u4b330ay",
          "user_id": "4a2f144c-62b7-4b3f-8c52-554175ff7bff",
          "search_type": "chain_reaction",
          "event_type": "processing_complete",
          "channel_name": null,
          "created_at": "2025-09-09T15:19:55.142645+00:00",
          "answer": null,
          "sources": null,
          "relationship_type": null,
          "entity_name": "amirkabir university technology"
        }
      },
      {
        "json": {
          "id": "046471c2-6720-4218-bed8-a6fbc526437d",
          "execution_id": "mfcoo5rjr0u4b330ay",
          "user_id": "4a2f144c-62b7-4b3f-8c52-554175ff7bff",
          "search_type": "chain_reaction",
          "event_type": "processing_complete",
          "channel_name": null,
          "created_at": "2025-09-09T15:19:55.142645+00:00",
          "answer": null,
          "sources": null,
          "relationship_type": null,
          "entity_name": "amirkabir university technology"
        }
      },
      {
        "json": {
          "id": "f5b43d59-4ee8-4be2-8b26-a64b24d44a6b",
          "execution_id": "mfcoo5rjr0u4b330ay",
          "user_id": "4a2f144c-62b7-4b3f-8c52-554175ff7bff",
          "search_type": "chain_reaction",
          "event_type": "processing_complete",
          "channel_name": null,
          "created_at": "2025-09-09T15:19:55.142645+00:00",
          "answer": null,
          "sources": null,
          "relationship_type": null,
          "entity_name": "amirkabir university technology"
        }
      },
      {
        "json": {
          "id": "b64cf6e8-24d2-445d-a675-9f63c18bf7ca",
          "execution_id": "mfcoo5rjr0u4b330ay",
          "user_id": "4a2f144c-62b7-4b3f-8c52-554175ff7bff",
          "search_type": "chain_reaction",
          "event_type": "processing_complete",
          "channel_name": null,
          "created_at": "2025-09-09T15:19:55.142645+00:00",
          "answer": null,
          "sources": null,
          "relationship_type": null,
          "entity_name": "amirkabir university technology"
        }
      },
      {
        "json": {
          "id": "50555667-4422-4166-bdf8-56748e28dcd7",
          "execution_id": "mfcoo5rjr0u4b330ay",
          "user_id": "4a2f144c-62b7-4b3f-8c52-554175ff7bff",
          "search_type": "chain_reaction",
          "event_type": "processing_complete",
          "channel_name": null,
          "created_at": "2025-09-09T15:19:55.142645+00:00",
          "answer": null,
          "sources": null,
          "relationship_type": null,
          "entity_name": "amirkabir university technology"
        }
      },
      {
        "json": {
          "id": "0ca303fb-4cf8-44f3-af5b-64687a42e065",
          "execution_id": "mfcoo5rjr0u4b330ay",
          "user_id": "4a2f144c-62b7-4b3f-8c52-554175ff7bff",
          "search_type": "chain_reaction",
          "event_type": "processing_complete",
          "channel_name": null,
          "created_at": "2025-09-09T15:19:55.142645+00:00",
          "answer": null,
          "sources": null,
          "relationship_type": null,
          "entity_name": "amirkabir university technology"
        }
      },
      {
        "json": {
          "id": "c6582032-c7de-4a8c-9980-0f79ad724f8a",
          "execution_id": "mfcoo5rjr0u4b330ay",
          "user_id": "4a2f144c-62b7-4b3f-8c52-554175ff7bff",
          "search_type": "chain_reaction",
          "event_type": "processing_complete",
          "channel_name": null,
          "created_at": "2025-09-09T15:19:55.142645+00:00",
          "answer": null,
          "sources": null,
          "relationship_type": null,
          "entity_name": "amirkabir university technology"
        }
      },
      {
        "json": {
          "id": "477c6e86-87c9-4eda-8ab8-e9226cc91d08",
          "execution_id": "mfcoo5rjr0u4b330ay",
          "user_id": "4a2f144c-62b7-4b3f-8c52-554175ff7bff",
          "search_type": "chain_reaction",
          "event_type": "processing_complete",
          "channel_name": null,
          "created_at": "2025-09-09T15:19:55.142645+00:00",
          "answer": null,
          "sources": null,
          "relationship_type": null,
          "entity_name": "amirkabir university technology"
        }
      },
      {
        "json": {
          "id": "59d0b697-df3f-498d-acd0-f76dfb3b633b",
          "execution_id": "mfcoo5rjr0u4b330ay",
          "user_id": "4a2f144c-62b7-4b3f-8c52-554175ff7bff",
          "search_type": "chain_reaction",
          "event_type": "processing_complete",
          "channel_name": null,
          "created_at": "2025-09-09T15:19:55.142645+00:00",
          "answer": null,
          "sources": null,
          "relationship_type": null,
          "entity_name": "amirkabir university technology"
        }
      },
      {
        "json": {
          "id": "0d42a9cf-64dc-40f2-953e-f0522aa4614b",
          "execution_id": "mfcoo5rjr0u4b330ay",
          "user_id": "4a2f144c-62b7-4b3f-8c52-554175ff7bff",
          "search_type": "chain_reaction",
          "event_type": "processing_complete",
          "channel_name": null,
          "created_at": "2025-09-09T15:19:55.142645+00:00",
          "answer": null,
          "sources": null,
          "relationship_type": null,
          "entity_name": "amirkabir university technology"
        }
      },
      {
        "json": {
          "id": "5dc132f7-42e1-4c8e-8bc3-b0ee914c3841",
          "execution_id": "mfcoo5rjr0u4b330ay",
          "user_id": "4a2f144c-62b7-4b3f-8c52-554175ff7bff",
          "search_type": "chain_reaction",
          "event_type": "processing_complete",
          "channel_name": null,
          "created_at": "2025-09-09T15:19:55.142645+00:00",
          "answer": null,
          "sources": null,
          "relationship_type": null,
          "entity_name": "amirkabir university technology"
        }
      },
      {
        "json": {
          "id": "e8c46f49-e897-425f-a4ba-8cd5cb4d157e",
          "execution_id": "mfcoo5rjr0u4b330ay",
          "user_id": "4a2f144c-62b7-4b3f-8c52-554175ff7bff",
          "search_type": "chain_reaction",
          "event_type": "processing_complete",
          "channel_name": null,
          "created_at": "2025-09-09T15:19:55.142645+00:00",
          "answer": null,
          "sources": null,
          "relationship_type": null,
          "entity_name": "amirkabir university technology"
        }
      },
      {
        "json": {
          "id": "d999527a-5bd8-4f4c-bf22-a22fda9345ee",
          "execution_id": "mfcoo5rjr0u4b330ay",
          "user_id": "4a2f144c-62b7-4b3f-8c52-554175ff7bff",
          "search_type": "chain_reaction",
          "event_type": "processing_complete",
          "channel_name": null,
          "created_at": "2025-09-09T15:19:55.142645+00:00",
          "answer": null,
          "sources": null,
          "relationship_type": null,
          "entity_name": "amirkabir university technology"
        }
      },
      {
        "json": {
          "id": "e9353d5f-0585-48cb-b1a2-ad97f3ce1ddf",
          "execution_id": "mfcoo5rjr0u4b330ay",
          "user_id": "4a2f144c-62b7-4b3f-8c52-554175ff7bff",
          "search_type": "chain_reaction",
          "event_type": "processing_complete",
          "channel_name": null,
          "created_at": "2025-09-09T15:19:55.142645+00:00",
          "answer": null,
          "sources": null,
          "relationship_type": null,
          "entity_name": "amirkabir university technology"
        }
      },
      {
        "json": {
          "id": "4861bfe8-c0bf-4b9f-b11c-7711f0fb7964",
          "execution_id": "mfcoo5rjr0u4b330ay",
          "user_id": "4a2f144c-62b7-4b3f-8c52-554175ff7bff",
          "search_type": "chain_reaction",
          "event_type": "processing_complete",
          "channel_name": null,
          "created_at": "2025-09-09T15:19:55.142645+00:00",
          "answer": null,
          "sources": null,
          "relationship_type": null,
          "entity_name": "amirkabir university technology"
        }
      },
      {
        "json": {
          "id": "7e13900e-440b-4e62-bef0-386acaab3c2f",
          "execution_id": "mfcoo5rjr0u4b330ay",
          "user_id": "4a2f144c-62b7-4b3f-8c52-554175ff7bff",
          "search_type": "chain_reaction",
          "event_type": "processing_complete",
          "channel_name": null,
          "created_at": "2025-09-09T15:19:55.142645+00:00",
          "answer": null,
          "sources": null,
          "relationship_type": null,
          "entity_name": "amirkabir university technology"
        }
      },
      {
        "json": {
          "id": "0e6152e0-3f2e-4fc9-a1bb-073a00187d98",
          "execution_id": "mfcoo5rjr0u4b330ay",
          "user_id": "4a2f144c-62b7-4b3f-8c52-554175ff7bff",
          "search_type": "chain_reaction",
          "event_type": "processing_complete",
          "channel_name": null,
          "created_at": "2025-09-09T15:19:55.142645+00:00",
          "answer": null,
          "sources": null,
          "relationship_type": null,
          "entity_name": "amirkabir university technology"
        }
      },
      {
        "json": {
          "id": "e95c1279-b48a-4dce-86c0-ecb7915fe590",
          "execution_id": "mfcoo5rjr0u4b330ay",
          "user_id": "4a2f144c-62b7-4b3f-8c52-554175ff7bff",
          "search_type": "chain_reaction",
          "event_type": "processing_complete",
          "channel_name": null,
          "created_at": "2025-09-09T15:19:55.142645+00:00",
          "answer": null,
          "sources": null,
          "relationship_type": null,
          "entity_name": "amirkabir university technology"
        }
      },
      {
        "json": {
          "id": "9f0af356-711e-41bd-968f-7ac046cbb936",
          "execution_id": "mfcoo5rjr0u4b330ay",
          "user_id": "4a2f144c-62b7-4b3f-8c52-554175ff7bff",
          "search_type": "chain_reaction",
          "event_type": "processing_complete",
          "channel_name": null,
          "created_at": "2025-09-09T15:19:55.142645+00:00",
          "answer": null,
          "sources": null,
          "relationship_type": null,
          "entity_name": "amirkabir university technology"
        }
      },
      {
        "json": {
          "id": "6a150b86-2903-4b62-b4da-32bd580b873c",
          "execution_id": "mfcoo5rjr0u4b330ay",
          "user_id": "4a2f144c-62b7-4b3f-8c52-554175ff7bff",
          "search_type": "chain_reaction",
          "event_type": "processing_complete",
          "channel_name": null,
          "created_at": "2025-09-09T15:19:55.142645+00:00",
          "answer": null,
          "sources": null,
          "relationship_type": null,
          "entity_name": "amirkabir university technology"
        }
      },
      {
        "json": {
          "id": "22aa3f0b-779a-41d8-b9d8-c859c2653632",
          "execution_id": "mfcoo5rjr0u4b330ay",
          "user_id": "4a2f144c-62b7-4b3f-8c52-554175ff7bff",
          "search_type": "chain_reaction",
          "event_type": "processing_complete",
          "channel_name": null,
          "created_at": "2025-09-09T15:19:55.142645+00:00",
          "answer": null,
          "sources": null,
          "relationship_type": null,
          "entity_name": "amirkabir university technology"
        }
      },
      {
        "json": {
          "id": "cecca646-f38b-4565-b01a-60b00e25367d",
          "execution_id": "mfcoo5rjr0u4b330ay",
          "user_id": "4a2f144c-62b7-4b3f-8c52-554175ff7bff",
          "search_type": "chain_reaction",
          "event_type": "processing_complete",
          "channel_name": null,
          "created_at": "2025-09-09T15:19:55.142645+00:00",
          "answer": null,
          "sources": null,
          "relationship_type": null,
          "entity_name": "amirkabir university technology"
        }
      },
      {
        "json": {
          "id": "d386405d-80ef-4e86-933c-f19c85e6af94",
          "execution_id": "mfcoo5rjr0u4b330ay",
          "user_id": "4a2f144c-62b7-4b3f-8c52-554175ff7bff",
          "search_type": "chain_reaction",
          "event_type": "processing_complete",
          "channel_name": null,
          "created_at": "2025-09-09T15:19:55.142645+00:00",
          "answer": null,
          "sources": null,
          "relationship_type": null,
          "entity_name": "amirkabir university technology"
        }
      },
      {
        "json": {
          "id": "a6fd325e-cc8c-49b4-b0e4-881641faa852",
          "execution_id": "mfcoo5rjr0u4b330ay",
          "user_id": "4a2f144c-62b7-4b3f-8c52-554175ff7bff",
          "search_type": "chain_reaction",
          "event_type": "processing_complete",
          "channel_name": null,
          "created_at": "2025-09-09T15:19:55.142645+00:00",
          "answer": null,
          "sources": null,
          "relationship_type": null,
          "entity_name": "amirkabir university technology"
        }
      },
      {
        "json": {
          "id": "50042e34-0982-40ae-9b09-d05362d41547",
          "execution_id": "mfcoo5rjr0u4b330ay",
          "user_id": "4a2f144c-62b7-4b3f-8c52-554175ff7bff",
          "search_type": "chain_reaction",
          "event_type": "processing_complete",
          "channel_name": null,
          "created_at": "2025-09-09T15:19:55.142645+00:00",
          "answer": null,
          "sources": null,
          "relationship_type": null,
          "entity_name": "amirkabir university technology"
        }
      },
      {
        "json": {
          "id": "fc3122ea-2e11-474e-973c-5da861bd3fd3",
          "execution_id": "mfcoo5rjr0u4b330ay",
          "user_id": "4a2f144c-62b7-4b3f-8c52-554175ff7bff",
          "search_type": "chain_reaction",
          "event_type": "processing_complete",
          "channel_name": null,
          "created_at": "2025-09-09T15:19:55.142645+00:00",
          "answer": null,
          "sources": null,
          "relationship_type": null,
          "entity_name": "amirkabir university technology"
        }
      },
      {
        "json": {
          "id": "1e3555fb-460c-4810-9aa4-18d1057f09b2",
          "execution_id": "mfcoo5rjr0u4b330ay",
          "user_id": "4a2f144c-62b7-4b3f-8c52-554175ff7bff",
          "search_type": "chain_reaction",
          "event_type": "processing_complete",
          "channel_name": null,
          "created_at": "2025-09-09T15:19:55.142645+00:00",
          "answer": null,
          "sources": null,
          "relationship_type": null,
          "entity_name": "amirkabir university technology"
        }
      },
      {
        "json": {
          "id": "2ca4cd95-8a9c-45f3-a21c-666f5c54deb0",
          "execution_id": "mfcoo5rjr0u4b330ay",
          "user_id": "4a2f144c-62b7-4b3f-8c52-554175ff7bff",
          "search_type": "chain_reaction",
          "event_type": "processing_complete",
          "channel_name": null,
          "created_at": "2025-09-09T15:19:55.142645+00:00",
          "answer": null,
          "sources": null,
          "relationship_type": null,
          "entity_name": "amirkabir university technology"
        }
      },
      {
        "json": {
          "id": "ff5835c1-613b-4db7-a12b-4bfa4a8a6cad",
          "execution_id": "mfcoo5rjr0u4b330ay",
          "user_id": "4a2f144c-62b7-4b3f-8c52-554175ff7bff",
          "search_type": "chain_reaction",
          "event_type": "processing_complete",
          "channel_name": null,
          "created_at": "2025-09-09T15:19:55.142645+00:00",
          "answer": null,
          "sources": null,
          "relationship_type": null,
          "entity_name": "amirkabir university technology"
        }
      },
      {
        "json": {
          "id": "4f0c50b9-1a0b-4ffa-a2fd-1a56d0b14677",
          "execution_id": "mfcoo5rjr0u4b330ay",
          "user_id": "4a2f144c-62b7-4b3f-8c52-554175ff7bff",
          "search_type": "chain_reaction",
          "event_type": "processing_complete",
          "channel_name": null,
          "created_at": "2025-09-09T15:19:55.142645+00:00",
          "answer": null,
          "sources": null,
          "relationship_type": null,
          "entity_name": "amirkabir university technology"
        }
      },
      {
        "json": {
          "id": "abce0f8d-e998-418c-ac4c-a81e5b146efe",
          "execution_id": "mfcoo5rjr0u4b330ay",
          "user_id": "4a2f144c-62b7-4b3f-8c52-554175ff7bff",
          "search_type": "chain_reaction",
          "event_type": "processing_complete",
          "channel_name": null,
          "created_at": "2025-09-09T15:19:55.142645+00:00",
          "answer": null,
          "sources": null,
          "relationship_type": null,
          "entity_name": "amirkabir university technology"
        }
      },
      {
        "json": {
          "id": "268c91cb-211c-4a79-9542-03f356b07968",
          "execution_id": "mfcoo5rjr0u4b330ay",
          "user_id": "4a2f144c-62b7-4b3f-8c52-554175ff7bff",
          "search_type": "chain_reaction",
          "event_type": "processing_complete",
          "channel_name": null,
          "created_at": "2025-09-09T15:19:55.142645+00:00",
          "answer": null,
          "sources": null,
          "relationship_type": null,
          "entity_name": "amirkabir university technology"
        }
      },
      {
        "json": {
          "id": "595da6e8-b36f-493b-84fe-3aa5eebf620b",
          "execution_id": "mfcoo5rjr0u4b330ay",
          "user_id": "4a2f144c-62b7-4b3f-8c52-554175ff7bff",
          "search_type": "chain_reaction",
          "event_type": "processing_complete",
          "channel_name": null,
          "created_at": "2025-09-09T15:19:55.142645+00:00",
          "answer": null,
          "sources": null,
          "relationship_type": null,
          "entity_name": "amirkabir university technology"
        }
      },
      {
        "json": {
          "id": "5ae51d95-877c-43f8-b220-68b901bb6a09",
          "execution_id": "mfcoo5rjr0u4b330ay",
          "user_id": "4a2f144c-62b7-4b3f-8c52-554175ff7bff",
          "search_type": "chain_reaction",
          "event_type": "processing_complete",
          "channel_name": null,
          "created_at": "2025-09-09T15:19:55.142645+00:00",
          "answer": null,
          "sources": null,
          "relationship_type": null,
          "entity_name": "amirkabir university technology"
        }
      },
      {
        "json": {
          "id": "d38cee1f-3e84-4d00-bc40-1fcb918d6e75",
          "execution_id": "mfcoo5rjr0u4b330ay",
          "user_id": "4a2f144c-62b7-4b3f-8c52-554175ff7bff",
          "search_type": "chain_reaction",
          "event_type": "processing_complete",
          "channel_name": null,
          "created_at": "2025-09-09T15:19:55.142645+00:00",
          "answer": null,
          "sources": null,
          "relationship_type": null,
          "entity_name": "amirkabir university technology"
        }
      }
    ]
  },
  "connections": {
    "Split Out": {
      "main": [
        [
          {
            "node": "Set Current NRO Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "call_linkup_request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "清理answer和url格式1": {
      "main": [
        [
          {
            "node": "清理answer和url格式2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "清理answer和url格式2": {
      "main": [
        [
          {
            "node": "Code3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Initial Params": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Get Initial Params",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Current NRO Data1": {
      "main": [
        [
          {
            "node": "Prompt generate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prompt generate1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "call_linkup_request": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "清理answer和url格式1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a row": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code3": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "no evidence",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "no evidence": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "92a029d5-a7bb-4aa3-92cd-51b75f06003a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b94fff4a25c8c9acd6ea2ece249b32b40c282de9dc2e8ea313fdcf6db8d3767c"
  },
  "id": "CFIwtWmyvq3rL0CJ",
  "tags": [
    {
      "createdAt": "2025-08-18T03:14:38.039Z",
      "updatedAt": "2025-08-18T03:14:38.039Z",
      "id": "ozHUads50ca9gRTo",
      "name": "dataset search"
    }
  ]
}