dataset_search/n8n workflow/Dataset Search 1.json
{
  "name": "Dataset Search 1",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7d378770-897d-432d-a61f-40657f24469d",
              "leftValue": "={{ $json.exist_excel }}",
              "rightValue": "True",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -400,
        80
      ],
      "id": "4ffc95d5-5767-4082-8a02-5249d1753ace",
      "name": "If"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "a0zRTohkNsb5he2b",
          "mode": "list",
          "cachedResultName": "Dataset Search 5"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "institution_name",
              "displayName": "institution_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "executionId",
              "displayName": "executionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "keywords",
              "displayName": "keywords",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "tableData",
              "displayName": "tableData",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "db98a997-6b2b-41f5-af12-fa03c4f114e3",
      "name": "Execute Sheet"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "binaryPropertyName": "excel_list0",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -864,
        80
      ],
      "id": "21bb503d-0fc2-4fea-8b9f-1568e5f25b6e",
      "name": "Extract from XLSX",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "start-ai-process",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*",
          "binaryPropertyName": "excel_list"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1088,
        80
      ],
      "id": "e6c71012-4523-4123-a718-f9ad07e387eb",
      "name": "Webhook1",
      "webhookId": "8da943cb-4e7b-4d61-b11e-e4e968ae415c"
    },
    {
      "parameters": {
        "jsCode": "// 获取前端传递的 institution_name\n// 注意：$input.item.json.body 适用于n8n较新版本且Webhook设置为解析JSON body\n// 如果您的n8n版本或Webhook设置不同，路径可能需要调整为 $json.body.institution_name 或类似\nconst institutionName = $('Webhook1').first().json.body.institution_name;\nconst timeperiod = $('Webhook1').first().json.body.date;\nconst keywords = $('Webhook1').first().json.body.keywords;\nconst exist_excel = $('Webhook1').first().json.body.excelexist\nconst user_id = $('Webhook1').first().json.body.user_id\n\n\n// 生成唯一的 executionId\nconst executionId = Date.now().toString(36) + Math.random().toString(36).substring(2);\n\n// 返回 executionId 和从输入中获取的 institutionName\n// 这些数据将传递给下一个节点\nreturn {\n  json: { // 确保输出是 json 对象，方便后续节点引用\n    executionId: executionId,\n    institution_name: institutionName, // 将 institution_name 继续传递下去\n    date: timeperiod,\n    keywords: keywords,\n    exist_excel : exist_excel,\n    user_id: user_id\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -624,
        80
      ],
      "id": "47003e71-2776-406f-8cdd-0649b3721daa",
      "name": "Code1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "CFIwtWmyvq3rL0CJ",
          "mode": "list",
          "cachedResultName": "Dataset Search 2"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "institution_name",
              "displayName": "institution_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "executionId",
              "displayName": "executionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "keywords",
              "displayName": "keywords",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        0,
        272
      ],
      "id": "19f80b07-5bd1-4031-8425-55ea327e3a61",
      "name": "Execute Workflow1",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"executionId\": \"{{ $json.executionId }}\",\n  \"pusherConfig\": {\n    \"key\": \"1e7b0fcbfa9b45947a84\",\n    \"cluster\": \"mt1\",\n    \"channelName\": \"private-results-{{ $json.executionId }}\"\n  },\n  \"message\": \"处理已开始，请连接WebSocket以接收实时结果。\",\n  \"status\": \"processing\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        240,
        272
      ],
      "id": "e7a9a9a0-6e79-4d6d-8727-06c9bf23a23d",
      "name": "Respond to Webhook2"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"executionId\": \"{{ $json.executionId }}\",\n  \"pusherConfig\": {\n    \"key\": \"1e7b0fcbfa9b45947a84\",\n    \"cluster\": \"mt1\",\n    \"channelName\": \"private-results-{{ $json.executionId }}\"\n  },\n  \"message\": \"处理已开始，请连接WebSocket以接收实时结果。\",\n  \"status\": \"processing\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        240,
        0
      ],
      "id": "30fac40b-4e1e-4c3a-b7be-290cff3d76d8",
      "name": "Respond to Webhook1"
    }
  ],
  "pinData": {
    "Webhook1": [
      {
        "json": {
          "headers": {
            "host": "n8n.fallowearth.site",
            "user-agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/139.0.0.0 Safari/537.36",
            "content-length": "123",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "zh-CN,zh;q=0.9,en;q=0.8",
            "content-type": "application/json",
            "origin": "https://e672711a-c059-4109-a2f9-156ebaaae3b2.sandbox.lovable.dev",
            "priority": "u=1, i",
            "referer": "https://e672711a-c059-4109-a2f9-156ebaaae3b2.sandbox.lovable.dev/",
            "sec-ch-ua": "\"Not;A=Brand\";v=\"99\", \"Google Chrome\";v=\"139\", \"Chromium\";v=\"139\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"macOS\"",
            "sec-fetch-dest": "empty",
            "sec-fetch-mode": "cors",
            "sec-fetch-site": "cross-site",
            "via": "2.0 Caddy",
            "x-forwarded-for": "205.198.88.228",
            "x-forwarded-host": "n8n.fallowearth.site",
            "x-forwarded-proto": "https"
          },
          "params": {},
          "query": {},
          "body": {
            "institution_name": "university of british columbia",
            "excelexist": "False",
            "user_id": "4a2f144c-62b7-4b3f-8c52-554175ff7bff"
          },
          "webhookUrl": "https://n8n.fallowearth.site/webhook/start-ai-process",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "If": {
      "main": [
        [
          {
            "node": "Execute Sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute Workflow1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Sheet": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from XLSX": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Extract from XLSX",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow1": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2d5761d4-e69b-4bcb-b403-0a2125dcd5ca",
  "meta": {
    "instanceId": "b94fff4a25c8c9acd6ea2ece249b32b40c282de9dc2e8ea313fdcf6db8d3767c"
  },
  "id": "1X3Ir7T5hqlnT7o9",
  "tags": [
    {
      "createdAt": "2025-08-18T03:14:38.039Z",
      "updatedAt": "2025-08-18T03:14:38.039Z",
      "id": "ozHUads50ca9gRTo",
      "name": "dataset search"
    }
  ]
}